out/* filter=lfs diff=lfs merge=lfs -text
RL-SHEMS/out/* filter=lfs diff=lfs merge=lfs -text
RL-SHEMS/out/** filter=lfs diff=lfs merge=lfs -text
RL-SHEMS/data/charger_battery_data_lfs.csv filter=lfs diff=lfs merge=lfs -text
